<div class="pre-modal-window-login">
    <div class="pre-modal">
        <div class="login-view">
            <div class="logo-login-view"><img src="https://www.maulogo.com/data/001/mau-logo-dong-vat-dep-01.jpg"
                    alt="">
            </div>
            <div class="content-login">
                YOUR ACCOUNT FOR EVERYTHING 3M
            </div>
            <div class="form-login ">
                <form action="login" method="post" id="form-1">
                    <div class="text-input">
                        <input type="email" class="" name="username" placeholder="Email address">
                        <div class="form-message">Please enter a valid email address.</div>
                    </div>
                    <div class="text-input">
                        <input type="password" class="" name="password" placeholder="Password">
                        <div class="form-message">Please enter a password</div>
                    </div>
                    <div class="keep-login option-login ">
                        <input type="checkbox" name="keepMeLogin" id="284aaa79-114c-4a67-951b-12b785e3efb4">
                        <label for="284aaa79-114c-4a67-951b-12b785e3efb4">Keep me signed in</label>
                    </div>
                    <div class=" forgot-password option-login ">
                        <a href="#" id="345ca6f6-1b46-4bf5-8eb6-4ddbc6c8c136">Forgotten your password?</a>
                    </div>
                    <p class=" unite-login option-login">By logging in, you agree to 3M's <a href="#">Privacy Policy</a>
                        and
                        Terms of Use.</p>
                    <div class="text-input btn-sign-in">
                        <input type="submit" id="13a63ee8-ed42-46fe-9bae-c4d310ae75be" value="SIGN IN">
                    </div>
                    <p class="unite-login option-login ">Not a Member? <a href="">Join Us.</a> </p>
                </form>
            </div>
        </div>
    </div>
</div>