<div>
    <div class="v-img">
        <div class="detail-img">
            <img src="{{result.image.wallImage}}" alt="">
        </div>
        <div class="list-img">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
    </div>
</div>