<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: block;">
        <h1 style="margin: 20px auto;">Please check your email and verify your registration.</h1>
        <button style="padding: 10px; margin: 20px auto; background-color: cadetblue;">Resend</button>
    </div>
</body>
</html>